<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="card mt-5">
                <h2 class="card-header">Near-Earth Objects</h2>
                <transition name="shooting-star">
                    <div class="m-3" v-cloak v-if="numAsteroids > 0 && showSummary">
                        <p>Showing {{numAsteroids}} items </p>
                        <p>{{closestObject}} has the shortest miss distance.</p>
                    </div>
                </transition>

                <div class="m-3">
                    <a href="#" @click="showSummary = !showSummary">Show/Hide summary</a>
                </div>
                <table class="table table-striped" :class="[{'table-dark': false}, 'table-bordered']">
                    <thead class="thead-light">
                        <th>#</th>
                        <th>Name</th>
                        <th>Close Approach Date</th>
                        <th>Miss Distance</th>
                        <th>Remove</th>
                    </thead>
                    <tbody v-cloak>
                        <tr v-for="(a, index) in asteroids" :key="a.neo_reference_id" :class="{highlight: isMissingData(a), 'shadow-sm':  true}">
                            <td>{{index + 1}}</td>
                            <td>{{a.name}}</td>
                            <td>{{getCloseApproachDate(a)}}</td>
                            <td>
                                <ul v-if="a.close_approach_data.length > 0">
                                    <li v-for="(value, key) in a.close_approach_data[0].miss_distance">
                                        {{ key }}: {{ value }}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <button class="btn btn-warning" @click="remove(index)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/action.js"></script>

</body>
</html>
